.container {
  max-width: 490px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 60px;
}
.login {
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;
  }
  &__input {
    padding: 23px 20px;
    margin-bottom: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__linkCollection {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    background-color: transparent;
    border: none;
    color: #1da1f2;
    cursor: pointer;
  }
}
