.main {
  width: 100%;
  max-width: 869px;
  border: 1px solid #d8d8d8;
  border-top: none;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  &__title {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}
.feedback {
  padding: 20px;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
  &__user {
    display: flex;
    align-items: center;
  }
  &__desc {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #828282;
  }
  &__collection {
    margin-left: 97px;
    margin-top: 33px;
    padding-bottom: 46px;
  }
}

.comment {
  &__list {
    padding: 0;
    list-style: none;
  }
}
